[mongo]
mongo_host =
mongo_port =
mongo_user =
mongo_pwd =

[oss]
oss_Address = http://oss-cn-beijing.aliyuncs.com
oss_Address_Download = https://keientist.oss-cn-beijing.aliyuncs.com
oss_Bucket = keientist
oss_Prefix_antifan = antifan/
oss_auth =
oss_secret =

[wechat]
auth =

[mail]
mail = zhuyike499@qq.com
passwd =
